.iconBox {
    width: 150px;
    height: 85px;

    padding: 5px 5px 5px 5px;

    margin-right: 10px;
    margin-bottom: 10px;

    border: 1px solid #c5c5c5;

    float: left;
}

.icon {
    width: 39px;
    height: 39px;
    padding-top: 10px;
    float: left;
}

.iconGroup {
    width: 100%;

    border-bottom: 2px solid gray;
}

.iconCode {
    float: right;
}

.iconName {
    margin-top: 5px;
}